@use '@styles/variables' as variables;

.header {
  height: 8.8rem;
  display: grid;
  grid-template-columns: 23.4rem 31.2rem 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1px 1px;
  grid-auto-flow: row dense;
  grid-template-areas:
    'controls controls controls'
    '. . .';

    &>* {
      background-color: variables.$background-primary;
    }

    &::after {
      content: '';
      background-color: variables.$background-primary;
    }
}

.controls {
  padding-left: 2rem;
  grid-area: controls;
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.mode {
  align-self: stretch;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;

  &-selected {
    border-color: variables.$color-primary;
  }
}

.dropdown {
  padding: 0 1.3rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project {
  color: variables.$color-secondary;

  &-abbreviation {
    font-size: 1rem;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

