@use '@styles/variables' as variables;

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: variables.$background-primary;
  color: variables.$color-primary;
}