@use '@styles/variables' as variables;

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

:global(#root) {
  background-color: variables.$border-color;
  color: variables.$color-primary;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: fit-content;
  row-gap: 1px;
}